<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} - CS in OAK</title>
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Sans" rel="stylesheet">

</head>
<body>
  <div class="mobile-nav"></div>
  <header class="sidebar">
    <h1 class="sidebar-title"><a>Computer Science<br /><span>in Oakland</span></a></h1>
    
    <ul class="nav">
      <li><a class="nav-item" href="/why-computer-science/">WHY COMPUTER SCIENCE</a></li>
      <li><a class="nav-item" href="#">HOW TO ENROLL</a></li>
      <li><a class="nav-item">WHO ARE WE</a></li>
      <li><a class="nav-item">OPPORTUNITIES</a></li>
      <li><a class="nav-item">RESOURCES</a></li>
    </ul>
  </header>
  <section class="main">
    {{ content }}
  </section>
</body>
</html>
